<h1><a href="http://localhost:3000/rounds">Roll</a>...</h1>
<h3>Total: <%= @roll_em[:total] %></h3>
<% @roll_em[:data].each do |k, v| %>
  <h4><small><%= k %>:</small>  <%= v[:score] %> pts.</h4>
    <% v[:values].each do |v| %>
      <%= image_tag "dice-#{v}", class: "dice-face" %>
    <% end %>
  </p>
<% end %>
