<tr>
  <% scoreboard.header_row.each.with_index do |cell, i| %>
    <td
      class="<%= i > 0 ? 'text-center' : 'first-column' %>
      <%=  round && round.player.username == cell ? "active" : "" %>"
    ><%= cell %></td>
  <% end %>
</tr>
