<h1>Games</h1>
<%= link_to "Start New Game", games_path, method: :post %>
<table class="table">
  <thead>
    <th>Game #</th>
    <th>Player Count</th>
    <th></th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.players.count %></td>
        <td><%= link_to "Continue Playing", game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
