<table class="table">
  <thead>
    <th>Game #</th>
    <th>Player Count</th>
    <th></th>
  </thead>
  <tbody>
    <% games.each do |g| %>
      <tr>
        <td><%= g.id %></td>
        <td><%= g.players.count %></td>
        <td>
          <% unless g.over? %>
            <%= link_to "Continue Playing", game_path(g), class: "btn btn-primary btn-lg" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
