<h1>Games</h1>

<table class="table">
  <thead>
    <th>Game #</th>
    <th>Start Date</th>
    <th>Player Count</th>
    <th></th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at.strftime("%m-%d-%Y") %></td>
        <td><%= game.players.map(&:username).join(", ") %></td>
        <td><%= link_to "Continue Playing", game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
