<%= link_to "Start New Game", games_path, method: :post, class: "btn btn-primary btn-lg" %>
<table class="table">
  <thead>
    <th>Game #</th>
    <th>Player Count</th>
    <th></th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.players.count %></td>
        <td>
          <% unless game.over? %>
            <%= link_to "Continue Playing", game_path(game), class: "btn btn-primary btn-lg" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
