/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.dice-face {
   display: inline-block;
   margin: 5px;
   padding: 5px;
   height: 80px;
   width: 80px;
   text-align: center;
   border: 2px solid #000000;
   border-radius: 3px;
 }

 .dice-face-success {
    border: 2px solid #000;
  }

  .dice-face-failed {
     border: 2px solid #e1e1e1;
   }

 .dice-face-sm {
    display: inline-block;
    margin: 2px;
    padding: 2px;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 2px;
  }

.row {
  margin-bottom: 30px;
}

td.active {
  background-color: #e1e1e1;
}

.turn-score-badge {
  text-align: center;
  line-height: 60px;
  font-size: 24px;
}

.dice-remaining {
  text-align: center;
  line-height: 60px;
  font-size: 24px;
}

table {
  font-size: 24px;
  color: #868e96;
}

.alert {
  font-size: 54px;
}

.first-column {
  width: 100px;
}

 select {
   font-size: 24px;
   margin: 20px;
   padding: 10px;
 }

 input {
   font-size: 24px;
   margin: 20px;
 }

.navbar-dark {
  background-color: #563d7c;
  margin-bottom: 20px;
}

.nav-link {
  font-size: 24px;
}

.badge-lg-blue {
  margin-top: 7px;
  margin-bottom: 0px;
  font-size: 38px;
  padding-bottom: 12px;
}

.btn-bd-yellow {
  font-weight: 500;
  color: #ffe484;
  border-color: #ffe484;
  font-size: 24px;
}

.btn-bd-yellow:hover {
  font-weight: 500;
  color: #FFF1C1;
  border-color: #FFF1C1;
  font-size: 24px;
}
