<h3>Scoring</h3>
<ul>
  <li>1	100 points</li>
  <li>5	50 points</li>
  <li>Three 1's	1,000 points</li>
  <li>Three 2's	200 points</li>
  <li>Three 3's	300 points</li>
  <li>Three 4's	400 points</li>
  <li>Three 5's	500 points</li>
  <li>Three 6's	600 points</li>
  <li>1-2-3-4-5-6 	3000 points</li>
  <li>3 Pairs	1500 points (including 4-of-a-kind and a pair)</li>
</ul>
<p>
  Note that scoring combinations only count when made with a single throw.<br>
  <strong>Example: If a player rolls a 1 and sets it aside and then rolls two 1’s on their next throw, they only score 300 points, not 3000.</strong>
</p>

<p>
  Sometimes a single roll will provide multiple ways to score.<br>
  For example, a player rolling 1-2-4-5-5-5 could score one of the following:
</p>
<ul>
  <li>100 points for the 1.</li>
  <li>150 points for the 1 and 5.</li>
  <li>500 points for the three 5's.</li>
  <li>600 points for the 1 and the three 5's.</li>
</ul>

<h3>Winning:</h3>
<p>The first player to score a total of 10,000 or more points wins, provided that no other players with a remaining turn can exceed that score.</p>
